div.info_wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px 0px;
    box-shadow: 4px 4px 2px rgb(214, 200, 200);
}

div.info_section{
    flex-basis: 2;
}

span.counter{
    background-color: black;
    opacity: 0.7;
    border-radius: 10px;
    padding: 10px;
    color: aliceblue;
    font-size: 17px;
    font-weight: 800;
}

div.info_section ul li{
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    font-family: cursive;
}

span.sep{
    color: #b35b38;
    margin-left: 5px;
    font-weight: 900;
}

div.picture_section{
    flex-basis: 4;
}

div.picture_section img{
    width:400px;
    height: 200px;
    border-radius:8px;
}


div.mt3{
    margin-top:10px;
    border-radius: 5px;
    border: 1px thin black;
    display: none;
}

textarea.TA{
    border-radius: 7px;
}